body {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  color: rgb(65, 64, 64);
  box-sizing: border-box;
}
.blue-title{
  color: #1fd8c9 !important;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
  letter-spacing: 2px;
}
a:hover {
  text-decoration: none;
  transition: 0.5;
  color: #1bbaad !important;
}

.row-content {
  padding: 1% 6%;
}
.navbar {
  background-color: white;
  border-bottom: 1px hidden #1fd8c9;
  padding: 10px;
  box-shadow: -5px -4px 10px #1fd8c9;
}
.navbar-nav {
  padding-left: 50px;
  color: rgb(19, 19, 19);
}
.nav-link {
  color: #969fa1;
}
.active1 {
  color: #1fd8c9 !important;
}
.navbar-brand {
  margin-left: 8.3rem;
  padding-right: 3.6rem;
}

.nav-item {
  padding: 0 10px 0 10px;
}
.navbar-btn {
  padding: 0.7rem 1.9rem;
}
.nav-btn {
  position: absolute;
  right: 13%;
}

/* header */

#header hr {
  border-width: 0;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  color: #ffffff;
  text-align: left;
}
#header {
  letter-spacing: 2px;
}
#header .btn {
  padding: 1.8rem 5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 5px;
}
.overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(78, 72, 72, 0.753);
}
.overlay-item {
  position: absolute;
  right: 33%;
  left: 12%;
  top: 25%;
  z-index: 2;
  color: floralwhite;
  width: 40%;
}
.carousel {
  padding: 0;
}
.carousel-indicators li {
  width: 5px;
  height: 5px;
  border-radius: 300%;
}

.item-1 {
  background-image: url(/img/laundry-head2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #ffff;
}
.item-2 {
  background-image: url(/img/feature0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #ffff;
}
.item-3 {
  background-image: url(/img/feature1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #ffff;
}

.sub-header {
  background-color: #0aaad5;
  color: white;
  padding: 4% 12%;
  margin-bottom: 100px;
}
.sub-header p {
  color: rgb(189, 205, 219);
}
.sub-header .btn {
  border: solid 2px #ffffff;
  background-color: #0aaad5;
  padding: 1.1em 2.9em;
  text-align: left;
  letter-spacing: 2px;
}
.sub-header .btn:hover {
  color: #1fd8c9;
  background-color: #0aaad5;
  border: solid 2px #1fd8c9;
  transition: 0.5s;
}
.sub-header-i-box {
  margin-right: 0.5rem;
}
.sub-header i {
  font-size: 1.9rem;
  padding-top: 0.1em;
}
h1 {
  font-weight: 500;
}


.h21 {
  padding: 30px 0 30px 0;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 400;
}
.h2-hr, .h5-hr {
  max-width: 30%;
  margin-left: 35%;
  color: #979d9e;
}
/* section */
#section {
    text-align: center;
}
#section img {
  text-align: center;
  width: 230px;
  padding: 20px 0 20px 0;
}
#section h5 {
    letter-spacing: 0;
    padding: 20px;
}
#section h5:hover {
    color: #1fd8c9 !important;
    transition: 0.5s;
}
.section-p {
    max-width: 80%;
    margin: 30px;

}


#section .btn {
  padding: 1.8em 4.5em;
  letter-spacing: 2px;
}

#testimonials {
  text-align: center;
  background-color: rgb(64, 169, 240);
  color: #ffffff;
  margin-top: 80px;
}
#testimonials img {
  width: 150px;

  border-radius: 200%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 25%;
}

/* our service */
#our-service {
  color: #ffffff;
  margin: 50px 0 50px 0;
}
.service-img {
  padding: 0;
  margin: 0;
}
.service-text {
  background-color: #00bdb8;
  text-align: center;
  padding: 0;
  margin: 0;
}
.service-text-content {
  font-weight: "light 300";
  padding: 15% 5% 0 5%;
}
.service-btn-box {
  padding-top: 10px;
}
.service-text .btn {
  /* border-radius: 50px;
    border: 2px solid white;
    text-align: center;
    font-size: 0.9rem;
    padding: 15px 25px; */
}

/* pricing */
#pricing .form {
    margin: 50px 0 50px 0;
}
.btn {
  border-radius: 200px;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #1fd8c9;
  color: #ffff;
}
.btn:hover {
  background-color: #1bbaad;
  color: #ffffff;
}
/* footer */
#footer {
  background-color: #f7f7f6;
  padding: 80px 0 10px 0;
}
#footer i {
    border: solid 1px #969fa1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 10px 0 0;
}
#footer i:hover {
    color: #1fd8c9;
    border: #1fd8c9 solid 1px;
    transition: 0.5s;
}
.blog p {
    color: #1fd8c9;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}