body {
    font-family: 'Roboto Slab', serif;
    color: rgb(85, 84, 84);
}
.row-content {
  padding: 1% 10%;
}
.navbar {
  background-color: white;
}
.navbar-nav {
  padding-left: 50px;
  color: rgb(19, 19, 19);
}
.nav-link{
    color: rgb(100, 100, 100) ;
}
.navbar-brand{
    padding-right: 50px;
    font-family: 'Roboto Slab-400', serif;
    font-weight: bold;
    font-size: 30px;
}
.brand-text {
    color: rgb(160, 160, 160);
    font-size: 15px;
}
.nav-item{
    padding: 0 10px 0 10px;
}
#header {
  background-image: url(/img/laundry-head2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffff;
}
.header-content {
  margin: 10% 0 0 10%;
  max-width: 40%;
}
.header-content .btn {
  border-radius: 50px;
  padding: 20px 50px;
  background-color: rgb(46, 161, 165);
}
.overlay {
  background: #0000006c;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.sub-header {
  background-color: rgb(64, 169, 240);
  color: white;
  padding: 5% 10%;
}
.sub-header p {
  color: rgb(189, 205, 219);
}
.sub-header .btn {
  border-radius: 50px;
  border: 2px solid white;
  text-align: center;
  max-width: 16.5rem;
  font-size: 0.9rem;
}
.sub-header i {
  position: relative;
  top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
h1 {
  text-transform: uppercase;
}
h1 hr{
    width: 20%;
}
hr{
    width: 50%;
    margin: 5% auto ;
    color: #cccccc;
}

#testimonials {
  text-align: center;
  background-color: rgb(64, 169, 240);
  color: #ffffff;
  margin-top: 50px;
}
#testimonials img {
  width: 15%;
  height: 15%;
  border-radius: 200%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 25%;
}
